<template>
<v-app>
        <v-app-bar dense app dark style="opacity:0.8;">
           <v-toolbar-title>Color Detection</v-toolbar-title>

        </v-app-bar>
    <v-main>
        <v-file-input multiple v-model="files" show-size label="이곳을 클릭하여 파일을 첨부 해주세요 !"></v-file-input>
        <v-btn @click="upload" :loading="loading" :disabled="loading" color="blue-grey" class="white--text">Upload</v-btn>
    </v-main>
    
</v-app>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Home',
  data:()=>({
    files:[],
    loading:false
  }),
  methods:{
    async upload(){
      this.loading=true
      var file = new FormData();
      file.append('file',this.files[0]);

      await axios.post('http://114.70.186.30:23351/upload',
      file,{
        headers:{
          'Content-Type':'multipart/form-data'
        }
      }).then( res => {
        this.$router.push({name:'Result',params:{file_name: res.data}})
        console.log(res.data)
      })
    }
  }
}
</script>
