<template>
<v-app>
   <v-app-bar
      dense
      dark
      app
      style="opacity:0.8;"
    >
            <v-btn icon @click="$router.go(-1)">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-toolbar-title>Result Page</v-toolbar-title>

    </v-app-bar>
  <v-main>
    <v-layout column align-center>
      <div class="text-h4 text-left pa-2">Upload Image</div>
      <v-flex class="pb-3">
        <v-img width="500px" height="500px" :src="'data:image/jpg;base64,'+ ori"></v-img>
      </v-flex>
    
      <div class="text-h6">palette</div>
      업로드한 이미지에서 가장 많은 색상 5가지를 추출한 결과 입니다.
      <v-flex class="pb-3">
        <v-img  width="500px" :src="'data:image/jpg;base64,'+ ori_wall"></v-img>
      </v-flex>
      </v-layout>
      <v-flex>
<v-simple-table fixed-header>
    <template v-slot:default>
        <thead>
            <tr>
          <th class="text-left">
            palette의 색상과 비슷한 벽지를 찾은 결과 입니다. (클릭하시면 상세 내용을 보실 수 있습니다)
          </th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="(r,i) in result_list"
          :key="r">
          <td @click="detail(r)">
            <v-avatar :color="colorlist[i]"  tile size="45" class="ma-3"></v-avatar>
            {{r}}</td>
            </tr>
        </tbody>
    </template>
    
</v-simple-table>
</v-flex>

<v-dialog v-model="dialog">
<v-card
    class="mx-auto"
    max-width="400"
  >
    <v-img
      class="white--text align-end"
      height="300px"
      :src="'data:image/jpg;base64,'+ detail_wall"
    >

    </v-img>
      <v-card-title class="mb-3">{{this.wallpaper}}</v-card-title>


    <v-avatar :color="getcolor"  tile size="56" class="mx-4"></v-avatar>
      palette 색상 : {{this.getcolor}}
    <v-card-actions>

      <v-btn
        color="orange"
        text
        @click="dialog=false"
      >
        close
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-dialog>

</v-main>
</v-app>
</template>

<script>
import axios from 'axios'
export default {
  name:'Result',
  data:()=>({
    dialog:false,
    result_list:[],
    detail_wall:'',
    wallpaper:'',
    ori:'',
    ori_wall:'',
    detail_palette:'',
    getcolor:'rgb(1,1,1)',
    colorlist:[]
  }),
  mounted(){
     var fn = new FormData()
     fn.append("file_name",this.$route.params.file_name)
     console.log(this.$route.params.file_name)
      axios.post('http://114.70.186.30:23351/result',
      fn,
      {
          headers:{
              'Content-Type': 'multipart/form-data'
            }

      })
      .then(res=>{
        this.result_list = res.data['rlist']
        this.ori = res.data['ori']
        this.ori_wall = res.data['ori_wall']
        this.colorlist = res.data['color']
        console.log(this.colorlist)

        //console.log(this.result_list)
      })
  },
  computed:{
    changeColor(){
      return this.getcolor
    }
  },
  methods:{
    detail(r){
      this.wallpaper = r
      this.dialog = true
      var info = new FormData()
      info.append("file_name",this.$route.params.file_name)
      info.append("result_name",r)
      // console.log(this.$route.params.file_name)
      axios.post('http://114.70.186.30:23351/detail',info,{
        headers:{
          'Content-Type': 'multipart/form-data'
        }
      }
      )
      .then(res=>{
        this.detail_wall = res.data['wallpaper']
        this.getcolor = "rgb"+res.data['color']
        console.log(this.getcolor)
      })
    },
  }
}
</script>